@import "./variable.scss";

body {
  font-family: $text-font;
  color: $black;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $yellow1;
  padding: 0px 30px 0px 100px;
  margin: 0px;

  a {
    &:hover{
      cursor: pointer;
    }
  }
  
  h1 {
    color: $blue;
    font-size: 40px;
    margin: 15px;
  }

  .nav-link {
    text-decoration: none;
    padding: 0px 20px 0px 0px;
    color: $blue;
  }
}

.auth {
  background-color: $offWhite;
  padding: 50px;
  border-radius: 5px;
  border: 3px solid $yellow1;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  h2 {
    margin-top: 0px;
    font-family: $header-font;
    text-align: center;
  }

  label {
    padding: 4px;
  }

  input {
    border: none;
    outline: 2px solid $yellow1;
    &:focus {
      outline: 2px solid $yellow2;
    }
  }

  form {
    padding-bottom: 20px;
  }
}

.mid {
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  border-radius: 5px;
  padding: 2px;  
  border: none;
  font-size: 16px;
  outline: 1px solid gray;
  margin-top: 5px;
}

.warning { 
  background-color: rgb(228, 141, 141);
  outline: 1px solid rgb(103, 33, 33);
  border: none;
}

.row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.col{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#chart{
  min-width: 700px;
  max-width: 900px;
}

.add{
  .row {
    input{
      margin: 5px;
    }
    label{
      padding-left: 10px;
      padding-right: 5px;
    }
  }
}
.add-button{
  margin: 8px;
}

main {
  margin-bottom: 15px;
}

.error-msg {
  color: red;
}

.welcome {
  font-size: 28px;
  margin-bottom: 5px;
  padding-bottom: 0px;
  color: $blue;
}

td, th {
  color: $blue;
  padding: 5px;
}

h1, h2 {
  font-family: $header-font;
}